# Node
node_modules
npm-debug.log
yarn-error.log

# Git / IDE
.git
.gitignore
.idea
.vscode

# Env
.env
.env.*
auth.json

# Cache
.cache
.config

# Vendor (build trong Docker)
vendor

# Laravel runtime data (IGNORE FILE, NOT FOLDER)
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
