version: "3.9"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: hpc_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - .:/var/www
        networks:
            - hpc_network

    webserver:
        image: nginx:alpine
        container_name: hpc_web
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - .:/var/www
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - hpc_network

    db:
        image: mysql:8.0
        container_name: hpc_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: system_services
            MYSQL_USER: system_services
            MYSQL_PASSWORD: hpc123
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - hpc_network

    redis:
        image: redis:alpine
        container_name: hpc_redis
        restart: unless-stopped
        ports:
            - "6380:6379"
        networks:
            - hpc_network
    reverb:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: hpc_reverb
        command: php artisan reverb:start
        working_dir: /var/www
        volumes:
            - .:/var/www
        depends_on:
            - app
            - redis
        ports:
            - "8081:8080" # expose Reverb ra ngoài (8081 host → 8080 container)
        networks:
            - hpc_network
networks:
    hpc_network:

volumes:
    db_data:
