services:
  # =========================
  # PHP-FPM (API)
  # =========================
  app:
    image: hpc_app:latest
    build:
      context: .
    container_name: hpc_app
    restart: unless-stopped
    working_dir: /var/www
    env_file:
      - .env
    volumes:
      - ./:/var/www
    mem_limit: 768m
    networks:
      - hpc_network

  # =========================
  # NGINX
  # =========================
  webserver:
    image: nginx:alpine
    container_name: hpc_web
    restart: unless-stopped
    ports:
      - "8082:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    mem_limit: 128m
    networks:
      - hpc_network

  # =========================
  # MYSQL
  # =========================
  db:
    image: mysql:8.0
    container_name: hpc_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: system_services
      MYSQL_USER: system_services
      MYSQL_PASSWORD: hpc123
    volumes:
      - db_data:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf:ro
    mem_limit: 768m
    networks:
      - hpc_network

  # =========================
  # REDIS
  # =========================
  redis:
    image: redis:alpine
    container_name: hpc_redis
    restart: unless-stopped
    mem_limit: 128m
    networks:
      - hpc_network

  # =========================
  # QUEUE WORKER
  # =========================
  queue:
    image: hpc_app:latest
    build:
      context: .
    container_name: hpc_queue
    restart: unless-stopped
    command: php artisan queue:work --sleep=3 --tries=3 --timeout=90
    env_file:
      - .env
    depends_on:
      - redis
    mem_limit: 256m
    networks:
      - hpc_network
    volumes:
      - ./:/var/www

  reverb:
    image: hpc_app:latest
    build:
      context: .
    container_name: hpc_reverb
    restart: unless-stopped
    command: php artisan reverb:start
    env_file:
      - .env
    depends_on:
      - redis
    mem_limit: 128m
    networks:
      - hpc_network
    volumes:
      - ./:/var/www
  # =========================
  # ZOOKEEPER
  # =========================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: hpc_zookeeper
    restart: unless-stopped
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    mem_limit: 256m
    networks:
      - hpc_network

  # =========================
  # KAFKA
  # =========================
  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: hpc_kafka
    restart: unless-stopped
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: "-Xms256M -Xmx512M"
    mem_limit: 768m
    networks:
      - hpc_network
  # =========================
  # KAFKA CONSUMER
  # =========================
  kafka_consumer:
    image: hpc_app:latest
    build:
      context: .
    container_name: hpc_kafka_consumer
    restart: unless-stopped
    command: php artisan kafka:consume
    env_file:
      - .env
    depends_on:
      - kafka
    mem_limit: 256m
    networks:
      - hpc_network
    volumes:
      - ./:/var/www

networks:
  hpc_network:


volumes:
  db_data:
