services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: hpc_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - .:/var/www
        networks:
            - hpc_network

    webserver:
        image: nginx:alpine
        container_name: hpc_web
        restart: unless-stopped
        ports:
            - "8082:80"
        volumes:
            - .:/var/www
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - hpc_network

    db:
        image: mysql:8.0
        container_name: hpc_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: system_services
            MYSQL_USER: system_services
            MYSQL_PASSWORD: hpc123
        ports:
            - "3307:3306"
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql
        networks:
            - hpc_network

    redis:
        image: redis:alpine
        container_name: hpc_redis
        restart: unless-stopped
        ports:
            - "6380:6379"
        networks:
            - hpc_network

    reverb:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: hpc_reverb
        entrypoint: [ "/usr/local/bin/entrypoint.sh" ]
        command: [ "php", "artisan", "reverb:start" ]
        working_dir: /var/www
        volumes:
            - .:/var/www
        depends_on:
            - app
            - redis
        ports:
            - "8081:8080"
        networks:
            - hpc_network

    zookeeper:
        image: confluentinc/cp-zookeeper:latest
        container_name: hpc_zookeeper
        restart: unless-stopped
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
            - "2181:2181"
        networks:
            - hpc_network

    kafka:
        image: confluentinc/cp-kafka:6.2.10
        container_name: hpc_kafka
        restart: unless-stopped
        depends_on:
            - zookeeper
        ports:
            - "9092:9092"
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
            KAFKA_NUM_PARTITIONS: 3
            KAFKA_DEFAULT_REPLICATION_FACTOR: 1
        networks:
            - hpc_network

    queue:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: hpc_queue
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - .:/var/www
        entrypoint: [ "/usr/local/bin/entrypoint.sh" ]
        command: [ "php", "artisan", "queue:work", "--queue=emails", "--verbose", "--tries=3", "--timeout=90" ]
        depends_on:
            - app
            - redis
        networks:
            - hpc_network

    queue_default:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: hpc_queue_default
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - .:/var/www
        entrypoint: [ "/usr/local/bin/entrypoint.sh" ]
        command: [ "php", "artisan", "queue:work", "--verbose", "--tries=3", "--timeout=90" ]
        depends_on:
            - app
            - redis
        networks:
            - hpc_network

    kafka_consumer:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: hpc_kafka_consumer
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - .:/var/www
        entrypoint: [ "/usr/local/bin/entrypoint.sh" ]
        command: [ "php", "artisan", "kafka:consume" ]
        depends_on:
            - app
            - kafka
        networks:
            - hpc_network

    hpc_drive:
        build:
            context: ../../hpc_drive
            dockerfile: Dockerfile
        container_name: hpc_drive_service
        ports:
            - "7777:7777"
        volumes:
            - ../../hpc_drive/src:/app/src # Mount source code for hot-reload
            - drive_data:/app/data
            - uploads_data:/app/src/hpc_drive/uploads
        environment:
            DATABASE_URL: "sqlite:////app/data/drive.db"
            AUTH_SERVICE_ME_URL: "http://hpc_web:80/api/v1/me"
        networks:
            - hpc_network
        restart: unless-stopped

networks:
    hpc_network:


volumes:
    db_data:
    drive_data:
    uploads_data:
